body {
	background: #fff;
	color: #222;
	font-family: arial, sans-serif;
	font-size: small;
	margin: 0 auto;
}

ul {
	padding-right: 40px;
}

nav {
	margin: 20px 20px;
	display: inline-block;
    top: 0;
    right: 0;
    left:0;
}

footer {
    bottom: 0;
    background: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    line-height: 20px;
    width: 100%;
    position: absolute;
}


li {
	display: inline;

}

li a {
	text-decoration: none;
	color: #000;
	opacity: 0.75;
}

a {
	cursor: auto;
}

a:hover, a:active {
    text-decoration: underline;
}

input {
	line-height: 34px;
    width: 100%;
    padding: 6px 6px 0px 16px;
    margin: 0px;
    font: 16px arial, sans-serif;
    border: none;
    height: 34px;
    -webkit-appearance: textfield;
    border: none;
    outline: none;
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
}


.searchBar {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
    max-width: 584px;
    height: 40px;
    border-radius: 2px;
    padding-bottom: 2px;
    padding-top: 3px;
    margin: 22px auto auto auto;
    position: relative;
}

.searchBar img {
	position: absolute;
    top: 10px;
   	right: 15px;
	width: 24px;
    height: 24px;
    cursor: pointer;
}


.searchBar:hover, .searchBar:active {
	    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
}

.buttons {
	height: 36px;
    line-height: 27px;
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    color: #757575;
    cursor: default;
    font-family: arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin: 11px 4px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
}

.buttons:hover {
	color: #222;
	background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
	background-color: #f8f8f8;
	border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);

}

.containerButtons {
	padding-top: 18px;
}


.navRight {
	float: right;
	margin-right: 11px;
}

.navLeft {
	float: left;
	margin-left: 11px;
}

.footerRight {
	float: right;
	padding-right: 15px;
	padding-bottom: 10px;
}

.footerLeft {
	float: left;
	padding-left: 15px;
	padding-bottom: 10px;
}


.content {
	display: block;
	text-align: center;
	margin-top: 150px;
	margin-bottom: 150px;
}

#apps {
	margin: -10px 0px 0px -10px;
	opacity: 0.75;
}

#apps:hover {
	opacity: 1;
}